        * {
            padding: 0;
            margin: 0;
        }
        body {
            height: 100%;
            color: white;
            background: rgb(14, 14, 14);
        }
        .music {
            aspect-ratio: 1 / 1.2;
            width: clamp(340px,50vw,400px);
            background: rgba(46, 51, 64, 0.2);
            box-shadow: 0px 3px 8px 3px #0002;
            margin-right: auto;
            margin-left: auto;
            margin-top: 10vh;
            display: grid;
            grid-template-rows: .4fr 5.2fr .71fr .5fr 2fr;
        }
        .topBars {
            background: rgba(235, 235, 238, 0.012);
            backdrop-filter: blur(12px);
        }
        .song-name {
            font-size: 1rem;
            font-weight: 500;
            color: rgba(235, 235, 238, 0.91);
            font-family: sans-serif;
            padding: 4px;
            padding-left: 20px;
        }
        .image {
            text-align: center;
            overflow: hidden;
        }
        .image > img {
            object-fit: cover;
            padding-top: 5px;
            width: 64%;
            box-shadow: 0px 6px 7px 4px #0004;
        } 
        .controls {
            display: grid;
            grid-template-columns: repeat(3,1fr); 

        }
        .ctlBtn {
        
            width: 100%;
            display: flex;
        }
        .ctlBtn:nth-child(1) {
            justify-content: right;
            align-items: center;
        }
        .ctlBtn:nth-child(2) {
            justify-content: center;
            align-items: center;
        }
        .ctlBtn:nth-child(3) {
            justify-content: left;
            align-items: center;
        }
        .iconM {
            font-size: 1.7rem;
        }
        .duration {
            color: #bcbdca;
        }
        #seekSlider {
          width: 100%;
          -webkit-appearance: none;
          appearance: none;
          height: 10px;
          background: #3237488f;
          outline: none;
          border-radius: 5px;
        }
      
        #seekSlider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          background: #4caf50;
          border-radius: 50%;
          cursor: pointer;
        }
      
        #seekSlider::-moz-range-thumb {
          width: 15px;
          height: 15px;
          background: #4caf50;
          border-radius: 50%;
          cursor: pointer;
        }
        .range {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-rows: 1fr 1fr;
            place-items: center;
        }
        .time-stamp {
            width: 100%;
           display: flex;
           flex-direction: rows;
           justify-content: space-between;
        }